{% extends 'base.html.twig' %}
{% block contenido %}
    <div class="row">
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <h3>Editar Departamento</h3>
                </div>
                {{ form_start(edit_form) }}
                <div class="input-field col s12">                
                    {{ form_widget(edit_form) }}
                </div>
                <div class="input-field col s12">
                    <select id="select-pais" class="form-control" style="margin-bottom: 10px;" required="required" name="pais">
                        <option value="">Seleccione Pais</option>
                        {% for pais in paises %}	
                            <option value="{{pais.id}}" {% if avDepartamento.idPais.id == pais.id %}selected{%endif%}>{{pais.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light btn-large teal lighten-1" type="submit" name="action">Editar
                        <i class="material-icons left">save</i>
                    </button>
                    {{ form_end(edit_form) }}
                </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s6">
            <a class="waves-effect waves-light btn-large teal teal lighten-1" href="{{ path('avciudad_index') }}"><i class="material-icons left">home</i>Volver</a>      
        </div>
        <div class="col s6">
            {{ form_start(delete_form) }}
            <button class="btn waves-effect waves-light btn-large teal lighten-1" type="submit" name="action">Eliminar
                <i class="material-icons left">delete</i>
            </button>
            {{ form_end(delete_form) }}       
        </div>              
    </div>
{% endblock %}
